[submodule "tests/cts"]
	path = tests/cts
	url = https://github.com/jsonpath-standard/jsonpath-compliance-test-suite.git
[submodule "tests/nts"]
	path = tests/nts
	url = https://github.com/jg-rp/jsonpath-compliance-normalized-paths.git
