site_name: Python JSONPath
site_description: A flexible JSONPath engine for Python.
site_url: https://jg-rp.github.io/python-jsonpath/

theme:
  name: "material"
  palette:
    - scheme: "default"
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: "material/weather-sunny"
        name: "Switch to dark mode"
    - scheme: "slate"
      media: "(prefers-color-scheme: dark)"
      primary: "blue"
      toggle:
        icon: "material/weather-night"
        name: "Switch to light mode"
  features:
    - navigation.sections
    - content.code.copy

repo_name: jg-rp/python-jsonpath
repo_url: https://github.com/jg-rp/python-jsonpath
edit_uri: ""

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            show_signature_annotations: true
            show_root_heading: true
            separate_signature: true
            docstring_section_style: "spacy"
  - autorefs

nav:
  - Introduction: "index.md"
  - Usage:
      - Quick Start: "quickstart.md"
      - Advanced Usage: "advanced.md"
  - Guides:
      - JSONPath Syntax: "syntax.md"
      - Filter Functions: "functions.md"
      - Async Support: "async.md"
  - API Reference:
      - High Level API: "api.md"
      - Low Level API: "custom_api.md"
      - Exceptions: "exceptions.md"

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra_css:
  - css/style.css

watch:
  - jsonpath
